*{
    margin: 0;
    padding: 0;
    font-family: "Marcellus", serif;
  font-weight: 400;
  font-style: normal;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(image/bswavy.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links {
flex: 1;
text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: rgb(109, 54, 21);
    text-decoration: none;
    font-size: 18px;
}


/**/
.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 10px;
    font-size: 14px;
    color: black;
}

.hero-btn{ 
    display: inline-block;
    text-decoration: none;
    color: rgb(92, 46, 28);
    border: 1px solid rgb(92, 46, 28);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid brown;
    background: brown;
    transition: 1s;
}

@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
}

.menu{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
margin-top: 5%;
display: flex;
justify-content: space-between;
}

.menu-col{
    flex-basis: 31%;
    background: rgb(219, 204, 177);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.menu-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}

.menu-btn{

    display: inline-block;
    text-decoration: none;
    color: rgb(92, 46, 28);
    border: 1px solid rgb(92, 46, 28);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.menu-btn:hover{
    border: 1px solid rgb(181, 100, 29);
    background: rgb(181, 100, 29);
    transition: 1s;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}


.order{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.order-col{
flex-basis: 32%;
border-radius: 10px;
margin-bottom: 30px;
position: relative;
overflow: hidden;
}

.order-col img{
    width: 100%;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226, 117, 0, 0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}


.feedback{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    
}

.feedback-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: white;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.feedback-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.feedback-col p{
padding: 0;
}

.feedback-col h3{
    margin-top: 15px;
    text-align: left;
}


/*contact us*/


.contact{
    width: 100%;
    height: 100vh;
    background: #f7f5f2;
    padding-top: 70px;
  }
  .contact .container{
    width: 100%;
    height: 80vh;
    background: white;
    background: linear-gradient(90deg, white 80%, #b2744c 20%);
    border-radius: 10px;
  }
  .heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
  }
  .heading6 span{
    color: #b2744c;
  }
  .contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
  }
  .contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid;
  }
  #contact-btn{
    width: 200px;
    height: 36px; 
    border: none;
    background: #b2744c;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
  }
  #col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
  }
  .contact h1{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .contact #col p{
    font-size: 15px;
    color: rgb(255, 250, 250);
    margin-left: 13px;
    padding-top: 30px;
  }
  @media screen and (max-width:766px){
    .contact .container{
    background: white;
    }
    #col{
      width: 100%;
      background: #ec7322;
    }
    .contact{
      height: 150vh;
    }
  }
  @media screen and (max-width:400px){
    .contact input{
      width: 250px;
    }
    
  }

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
color: rgb(109, 54, 21);
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
}

.fa-heart-o{
    color: rgb(92, 46, 28);
}